<html>
<head>
<title>medidor</title>


</head>
<body>
    
<h1 style="color:blue; font-size:30px">
    <%- titulo %></h1>

<meter
value=<%=nivel %>
min=<%= min %>
max=<%= max %>
><meter/>
</body>


</html>